.DS_Store
.idea
*.iml
.env
.vscode/*

dist/**
target/**
.idea/**
**/.idea
**/target
**/dist
node_modules
.settings/**
**/.settings
**/.classpath
**/.project
**/.factorypath

*.env
dependency-reduced-pom.xml
logs/**
tmp/**
/barda-server/logs/


# to ignore the package-lock.json file
package-lock.json

# test coverage
coverage-summary.json
app/client/cypress/locators/Widgets.json
/barda-domain/logs/
private.key
public.key
